/* Fetch the roboto font*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

/* Container styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 15px 20px;
}

.menu {
    width: 1024px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display:flex;
    font-family: Roboto;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.header-logo {
    display:flex;
    color: #F9FAF8;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 700;
    justify-content: flex-start;
}

 .header-link {
    margin-left: 20px;
    margin-right
}

.header-link:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* Welcome section with image and button */

.title-container {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 60px 20px;
}

.title-box {
    width: 1024px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 75px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    font-family: Roboto;
    padding-right: 50px;
    margin-bottom: 0;
}

.secondary-hero {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Roboto;
    font-weight: 400;
}

.title-button {
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    font-family: Roboto;
    font-weight: 600;
    height: 35px;
    width: 135px;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 12px;
}

.title-button:hover {
    background-color: #3882F6;
    opacity: 0.5;
    cursor: pointer;
}


  /*

.information-container
.information-section
.blue-header
.info-boxes
.info-box

*/
  
.blue-header {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    font-family: Roboto;
    padding-top: 50px;
  }

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 75px;
}

.information-section {
    display: flex;
    width: 1024px;
    justify-content: space-around;
  }

  .info-box {
    display: flex;
    height: 170px;
    width: 170px;
    border: solid #3882F6;
    border-width: 4px;
    border-radius: 10px;
  }

  .box-captions {
    display: flex;
    width: 1024px;
    justify-content: space-around;
    text-align: center;
    font-family: Roboto;
    color:rgb(112,120,131);
    margin-top: 10px;
}

  .info-caption {
    display: flex;
    width: 170px;
  }

/*   
quote-container
quote-box
quote-message
quote-author
*/

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-box {
    display: flex;
    width: 1024px;
    justify-content: center;
    flex-direction: column;
    padding: 120px 105px;
}

.quote-message {
    display: flex;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;

}

.quote-author {
    display: flex;
    justify-content: end;
    font-family: Roboto;
    color: #1F2937;
    font-weight: 600;
    font-size: 26px;
    padding-top: 20px;
}

/* 
action-container
action-blue-box
action-text
action-header
action-sub
action-button
*/

.action-container {
    display:flex;
    justify-content: center;
}

.action-blue-box {
    display: flex;
    width: 1024px;
    justify-content: space-around;
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 10px;

}

.action-header {
    color: white;
    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
}

.action-sub {
    color: white;
    font-family: Roboto;
    font-weight: 390;
    font-size: 16px;

}

.action-button {
    background-color: #3882F6;
    border: solid white;
    border-width: 2px;
    color: #E5E7EB;
    font-family: Roboto;
    font-weight: 600;
    height: 40px;
    width: 135px;
    font-size: 18px;
    border-radius: 8px;
}

.action-button:hover {
    background-color: #3882F6;
    opacity: 0.5;
    cursor: pointer;
}

/* 
footer-container
copyright-container
copyright-text
*/

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    height: 100px;
}

.copyright-container {
    display: flex;
    justify-content: center;
    width: 1024px;
}

.copyright-text {
    display: flex;
    text-align: center;
    font-family: Roboto;
    color: white;
    font-size: 16px;
}